$r: rgb(255, 0, 0);
$rT: rgba(255, 0, 0, 0);

.calendar {
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid black;

    &__date {
        background-color: var(--color-primary);
        padding: 10px 0;
        color: #ffffff;
        font-size: 2.5rem;
    }

    &__week {
        background-color: rgba(0, 0, 0, 0.2);
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        padding: 10px 0;
    }

    &__body {
        &__week {
            border-bottom: 1px solid black;
            display: grid;
            grid-template-columns: repeat(7, 1fr);

            &:last-child {
                border-bottom: none;
            }

            &:first-child {
                border-top: 1px solid black;
            }

            &__currentDate {
                cursor: pointer;
            }

            &__futureDate {
                cursor: pointer;
            }

            &__done {
                position: relative;

                &::after {
                    background: linear-gradient(45deg, $rT 48.5%, $r 48.5% 51.5%, $rT 51.5% 100%),
                        linear-gradient(-45deg, $rT 48.5%, $r 48.5% 51.5%, $rT 51.5% 100%);
                    content: '';
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
            }

            &__skipped {
                background-color: greenyellow;
            }

            &__day {
                font-size: 2rem;
                border-right: 1px solid black;
                border-left-width: 0;
                display: flex;
                aspect-ratio: 1 / 1;
                align-items: center;
                justify-content: center;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}
