.calendar {
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid black;

    &__date {
        background-color: var(--color-primary);
        padding: 10px 0;
        color: #ffffff;
        font-size: 2.5rem;
    }

    &__week {
        background-color: rgba(0, 0, 0, 0.2);
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        padding: 10px 0;
    }

    &__body {
        &__week {
            border-bottom: 1px solid black;
            display: grid;
            grid-template-columns: repeat(7, 1fr);

            &:last-child {
                border-bottom: none;
            }

            &:first-child {
                border-top: 1px solid black;
            }

            &__currentDay {
                cursor: pointer;
            }

            &__done {
                background-color: red;
            }

            &__day {
                font-size: 2rem;
                width: 100%;
                border-right: 1px solid black;
                border-left-width: 0;
                height: 76px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}
