.calendar {
    &__header {
        background-color: var(--color-primary);
        padding: 10px 0;
        color: #fff;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(7, auto);

        &__cell {
            padding: 0.625rem 2rem;
            width: 100%;
        }
    }
}
