:root {
    --color-primary: #ff002a;
}

* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

html,
body,
#root {
    margin: 0;
    height: 100%;
}

button {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
